<template>
  <div>
    <div class="card mt-3 shadow">
      <div
        class="card-header"
        :class="[step1 ? 'bg-light' : 'bg-white']"
        @click="toggleActiveStatus(1)"
      >
        <span>
          <i>
            <img src="/images/icons/time.svg" alt="time">
          </i>
        </span>
        &nbsp;&nbsp;
        <span v-if="deliverySchedule">{{ deliverySchedule }}</span>
        <span v-else>Delivery Time</span>
      </div>

      <div class="card-body" v-show="step1">
        <p>Schedule your delivery</p>
        <form @submit.prevent>
          <div class="row">
            <div class="form-group col-md-6">
              <datepicker
                v-model="date"
                :placeholder="'Select a date'"
                :clear-button="true"
                :clear-button-icon="'fas fa-times'"
                :calendar-button="true"
                :calendar-button-icon="'fas fa-calendar'"
                :bootstrap-styling="true"
                :wrapper-class="'background-color: white;'"
                :format="'dsu MMMM yy'"
              ></datepicker>
            </div>
            <div class="form-group col-md-6">
              <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">Time</span>
                </div>
                <select class="custom-select" v-model="time" placeholder="select a time frame">
                  <option
                    v-for="(time, n) in timeWindow"
                    :key="n"
                    :value="time"
                  >{{time.from}} to {{time.to}}</option>
                </select>
              </div>
            </div>
          </div>
          <!-- <button type="submit" class="btn btn-secondary">Next</button> -->
        </form>
      </div>
    </div>

    <!---delivery details-->

    <div class="card mt-3 shadow">
      <div
        class="card-header"
        :class="[step2 ? 'bg-light' : 'bg-white']"
        @click="toggleActiveStatus(2)"
      >
        <span>
          <i>
            <img src="/images/icons/location.svg" alt="time">
          </i>
        </span>
        &nbsp;&nbsp;
        {{ location.address }}
      </div>
      <div class="card-body" v-show="step2">
        <form @submit.prevent>
          <div class="form-group">
            <small class="form-text text-muted">Name</small>
            <input type="text" class="form-control" placeholder="Your full name" :value="user.name">
          </div>
          <div class="form-group">
            <small class="form-text text-muted">Email</small>
            <input type="email" class="form-control" placeholder="Enter email" :value="user.email">
          </div>
          <div class="form-group">
            <small class="form-text text-muted">Number</small>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">+1</span>
              </div>
              <input
                type="phone"
                placeholder="Telephone / Mobile"
                class="form-control"
                :value="user.phone"
              >
            </div>
          </div>
          <hr>
          <div class="form-group">
            <small class="form-text text-muted">Delivery Address</small>
            <input
              type="text"
              class="form-control"
              placeholder="Your address"
              v-model="location.address"
              ref="autocomplete"
            >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Apt / Suit / Floor">
          </div>
          <div class="form-group">
            <small class="form-text text-muted">Delivery Note</small>
            <textarea
              class="form-control"
              placeholder="Add a note for your delivery person (optional)"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-secondary" @click="step3 = true">Next</button>
        </form>
      </div>
    </div>

    <!---Payment-->

    <div class="card mt-3 shadow">
      <div
        class="card-header"
        :class="[step3 ? 'bg-light' : 'bg-white']"
        @click="toggleActiveStatus(3)"
      >
        <span>
          <i>
            <img src="/images/icons/credit-cards-payment.svg" alt="time">
          </i>
        </span>&nbsp;&nbsp;
        Make Payment
      </div>
      <div class="card-body" v-show="step3">
        <stripe-payment></stripe-payment>
      </div>
    </div>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";

// Vue.prototype.moment = moment;

export default {
  components: {
    Datepicker
  },

  props: ["timeWindow", "address", "user"],

  mounted() {
    this.autocomplete = new google.maps.places.Autocomplete(
      this.$refs.autocomplete,
      { types: ["geocode"] }
    );

    this.autocomplete.addListener("place_changed", () => {
      let place = this.autocomplete.getPlace();

      this.location.address = place.formatted_address;
    });

    this.location.address = wsCache.get('location') || '';
  },

  data() {
    return {
      date: "",
      time: {},

      step1: true,
      step2: false,
      step3: false,

      deliveryAddress: "",

      location: {
        address: ''
      }
    };
  },

  methods: {
    toggleActiveStatus(step) {
      step == 1 ? (this.step1 = !this.step1) : "";
      step == 2 ? (this.step2 = !this.step2) : "";
      step == 3 ? (this.step3 = !this.step3) : "";
    }

    // customFormatter(date) {
    //     return moment(date).format('MMMM Do YYYY');
    // }
  },

  computed: {
    deliverySchedule() {
      if (moment(this.date).isValid() && this.time.from) {
        let schedule = "Scheduled for " + moment(this.date).format("Do MMM, YYYY") + " - " + this.time.from + " to " + this.time.to;

        this.step2 = true;
        this.step1 = false;
        return schedule;
      }
      this.step2 = false;
      return false;
    },

  },

  updated() {}
};
</script>




