<template>
  <form @submit.prevent method="post" id="payment-form">
    <label for="card-element">Credit or Debit Card</label>
    <div class="card-element form-group py-3">
      <card
        class="stripe-card"
        :class="{ complete }"
        stripe="pk_test_HIqjKyemhbCliItkK3zIqoeV00HI7lMCXU"
        :options="stripeOptions"
        @change="change($event)"
      />
      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert" v-text="errorMsg"></div>
    </div>

    <button class="pay-with-stripe btn btn-dark" @click="processPayment" :disabled="!complete">
      <div v-if="loading">
        <span class="spinner-grow spinner-grow-sm text-center" ></span> <span class="mx-auto"> Processing...</span> 
      </div>
      <div v-else>
        <span v-if="totalFee > 0">Place order for CA$ {{totalFee}}</span>
        <span v-else>Cart Empty</span>
      </div>
    </button>
  </form>
</template>

<script>
import { Card, createToken } from "vue-stripe-elements-plus";
import { mapGetters, mapActions } from "vuex";
import { Form } from "vform";
// import { uuid } from "vue-uuid";

export default {
  components: { Card },

  data() {
    return {
      complete: false,
      errorMsg: "",
      loading: false,

      form: new Form({
        items: [],
        stripeToken: "",
        charge: null, // total stripe charge = total of order cost
        serviceFee: null,
        subTotal: null,
        shop_id: null,
      }),

      stripeOptions: {
        hidePostalCode: true,
        // see https://stripe.com/docs/stripe.js#element-options for details
        style: {
          base: {
            color: "#32325d",
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: "antialiased",
            fontSize: "16px",
            "::placeholder": {
              color: "#aab7c4"
            }
          },
          invalid: {
            color: "#fa755a",
            iconColor: "#fa755a"
          }
        }
      }
    };
  },

  computed: {
    ...mapGetters(["totalFee", 'items', 'shop_id', 'subTotal', 'serviceFee']),
  },

  methods: {
    ...mapActions(['orderPlaced']),
    
    pay() { 
      return new Promise((resolve, reject) => {
        this.loading = true;
        createToken().then(data => {
          this.form.items = this.items
          this.form.stripeToken = data.token.id;
          this.form.charge = this.totalFee * 100; //convert cents to dollars for stripe processing
          this.form.serviceFee = this.serviceFee;
          this.form.subTotal = this.subTotal;
          this.form.shop_id = this.shop_id;

          this.form.post("/api/order")
          .then(res => {
            this.loading = false;
            // console.log(res.data);
            resolve(res.data)
          })
          .catch(err => reject(err));
        });
      }
    )},

    processPayment(){
      Swal.fire({
        title: 'Confirm Transaction',
        text: "Your card will be charged at this point. Do you wish to proceed?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#ff6407',
        cancelButtonColor: '#343a40',
        confirmButtonText: 'Yes, place order!',
      }).then((result) => {
        if (result.value) {

          Swal.fire({
            text: "Processing...",
            allowOutsideClick: false,
            onOpen: () => {
              Swal.showLoading()
              return this.pay()
              .then(responseFromPayMethod => {
                // console.log(res);
                
                this.orderPlaced() // clear cart and delete from local storage
                
                Swal.fire({
                  title: 'Order Placed!', 
                  confirmButtonColor: '#ff6407',
                  text: 'Check your mail for your receipt. Thank you', 
                  type: 'success'})
                  .then(result => {
                    result.value ? 
                      window.location = `/user/${responseFromPayMethod}/account#nav-orders-tab` :
                      window.location = `/user/${responseFromPayMethod}/account#nav-orders-tab` 
                    }
                  )
              })
              .catch(reason => console.error(reason))            
            },
          })
        }
      })
    },

    change(event){
      this.complete = event.complete;
      event.error
        ? (this.errorMsg = event.error.message)
        : (this.errorMsg = "");
    }
  }
};
</script>

<style scoped>
.stripe-card {
  /* border: 1px solid grey; */
}
.stripe-card.complete {
  border-color: green;
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #fa755a;
}
</style>

