<template>
    <div class="input-group input-group-lg">
        <input type="text" 
            v-model="location" 
            @keyup.enter="searchLocation" 
            class="form-control" aria-label="Large" 
            placeholder="Enter your address..."
            ref="autocomplete"
        >
        <div class="input-group-append">
            <span @click="searchLocation" class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-map-marker-alt"></i></span>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    export default {
        mounted() {
            this.autocomplete = new google.maps.places.Autocomplete(
                (this.$refs.autocomplete),
                {types: ['geocode']}
            );

            this.autocomplete.addListener('place_changed', () => {

                var place = this.autocomplete.getPlace();
                // console.log(place);
                this.location = place.formatted_address
                this.searchLocation()
            });

            this.location = wsCache.get('location') || ''
        },

        data() {
            return {
                location: '',
            }
        },

        computed: {
        },

        methods: {
            searchLocation() {

                if(this.location !== '' && this.location !== "undefined"){
                    axios.post('/api/search_location', {location: this.location})
                        .then(res => {
                            // console.log(res.data);
                            wsCache.set('location', this.location)
                            window.location = '/shop'
                        })
                        .catch(err => console.log(err))
                } else {
                    alert('provide address');
                }
            }
        }
    }
</script>

<style scoped>
    .input-group {
        height: 60px;

    }

    .input-group input {
        height: 100%;
        font-size: 1.7rem;
        text-align: center;
    }
</style>

