<template>
    <div class="my-3">
        <div class="card hover-shadow" @click="openShop" style="cursor: pointer">
            <div class="card-body shadow-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <img :src="'/images/logos/shop/'+shop.logo" class="rounded float-left my-img mr-4" :alt="shop.logo">
                            <div class="">
                                <p class="lead text-break font-weight-bold">{{ shop.name }}</p>
                                <p class="font-italic">{{ shop.category.name }}</p>
                                <p v-if="shop.open_status" class="text-green">We're open</p>
                                <p v-else class="text-red">Sorry, we're closed</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 my-auto">
                            <a class="btn btn-sweet btn-block float-left my-3">View Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },

        methods: {
            openShop() {
                // window.location = '/shop/'+this.shop.name;
                window.location = '/shop/'+this.shop.id;
            }
        },

        props: {
            shop: Object
        },
        mounted() {
        //  console.log(this.shop)
        }
    }
</script>

<style scoped>
    .my-img {
        /* border:2px solid #545565; */
        border: none;
        width: 100px;
    }

    p {
        margin-bottom: .5rem;
    }

    .card img {
        height: 100px;
    }
</style>
