<template>
  <div class="cart sticky-top" id="cart">
    <div class="card shadow">
      <div class="card-header text-center">
        <span v-if="checkoutPage" class="lead" style="cursor: pointer; color: #ff6407" @click="backToShop">{{title}}</span>
        <button v-else class="btn btn-lg btn-sweet btn-block" :disabled="!cartLength" @click="toCheckoutPage">
          <!-- <button class="btn btn-lg btn-sweet btn-block" :disabled="!cartHasItem || loading" @click="checkout"> -->
          <div class="spinner-border" v-if="loading"></div>
          <span v-else>
            {{ title }}
            <small v-if="this.cartLength == 1">({{ this.cartLength }} item)</small>
            <small v-if="this.cartLength > 1">({{ this.cartLength }} items)</small>
          </span>
        </button>
      </div>

      <div class="card-body pb-0">
        <div class="cart-item" v-if="items.length">
          <!-- prop 'index' is the index of this item in the cartItems array. 
          Needed when the item is to be deleted from cartItems-->
          <cart-item v-for="(item, index) in items" :key="index" :index="index" :item="item"></cart-item>
          <!-- <input type="number" min="0" v-model="distance"> -->
        </div>
        <div class="cart-item text-center" v-else>
          <p class="lead">Cart is empty</p>
        </div>
      </div>

      <div class="card-footer" v-if="items.length">
        <div class="d-flex justify-content-between">
          <span>Subtotal</span>
          <span>
            <small>CA$ {{ subTotal }}</small>
          </span>
        </div>

        <div class="d-flex justify-content-between" v-if="serviceFee">
          <span>Service Fee</span>
          <span>
            <small>CA$ {{ serviceFee }}</small>
          </span>
        </div>

        <div class="d-flex justify-content-between pt-2" v-if="totalFee >= 0">
          <span class="font-weight-bold">Total</span>
          <span>CA$ {{ totalFee }}</span>
        </div>
      </div>
      <div class="card-footer text-center" v-else>
        <span class="lead">Add something...</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  created() {
    this.fetchCart();
  },

  mounted() {
    this.setDeliveryFees(this.deliveryfees);
  },

  props: ["title", "checkoutPage", "deliveryfees", 'shop'],

  data() {
    return {
      loading: false
    };
  },

  computed: {
    ...mapGetters(["items", "cartLength", "subTotal", "serviceFee", "totalFee"])
  },

  methods: {
    ...mapActions(["fetchCart", "removeItem", "checkout", "setDeliveryFees"]),

    backToShop() {
      window.history.back();
    },

    toCheckoutPage(){
      this.checkout()
    }
  }
};
</script>
