<template>
  <div class="row mb-3">
    <div class="col-3">
      <select class="custom-select" v-model="item.quantity">
        <option :value="item.quantity" selected>{{ item.quantity }}</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="10">10</option>
      </select>
      <button class="btn btn-sm btn-block btn-secondary mt-2" @click="removeItem(index)">x</button>
    </div>

    <div class="col-6 pl-0">
      {{ item.name }} ({{ item.option.name }})
      <small style="display: block;" v-if="item.price">
        <i>@ CA$ {{item.price}} per</i>
      </small>

      <!-- <small style="display: block;" class="text-small text-muted">&#9679; &nbsp;{{item.options.size.name}} <span> + CS$ {{item.options.size.value}} x {{item.quantity}}</span></small> -->
      <div v-for="(addition, index) in item.additions" :key="index">
        <small class="text-small text-muted" v-show="addition.name">
          &#9679; &nbsp;{{addition.name}}
          <span v-if="addition.price > 0">+ CS$ {{addition.price}} x {{item.quantity}}</span>
        </small>
      </div>
    </div>
    <div class="col-3 px-0">
      <small>CA$ {{ itemPrice }}</small>
    </div>
    <hr>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["item", "index"],

  computed: {
    itemPrice() {
      return (this.item.subTotal * this.item.quantity).toFixed(2);
    }
  },

  methods: {
    ...mapActions(["removeItem"])
  },

  updated() {
    // If the quantity of item drops to 0, eject it from cart
    if (this.item.quantity == 0) {
      this.removeItem(this.index);
    }
  }
};
</script>
