<template>
  <span class="" title="Your shopping cart" style="position: relative;">
    <a href="#cart">
      <span class="badge badge-dark cart-badge" v-if="cartLength">{{ cartLength }}</span>
      <img src="/images/icons/gift-box.svg" alt="shopping-bag" id="cart-icon">
    </a>
  </span>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["cartLength"])
  }
};
</script>
