<template>
  <!-- <div class="card food-card my-3" @click="openDetailsModal"> -->
  <div class="card food-card my-3" @click="showModal">
    <!-- <food-item-modal :data="this.product" :show="showModal"></food-item-modal> -->
    <!-- food Item Modal -->

    <!-- <div class="modal fade" id="FoodDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> -->
    <div class="modal fade" :id="product.uuid" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row px-3">
            <div class="food-image col-sm-12 px-0" :style="imageLink"></div>
            <div class="content col-sm-12 px-0">
              <div class="content-text p-4">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <hr>

                <p class="lead option-header text-center mt-3" :class="{danger: isRequired}" v-if="item.options">Choose one</p>
                <div v-for="(option, index) in item.options" :key="product.uuid +'option'+ index" class="container">
                  <input type="radio" :value="option" v-model="product.option" :id="index" :name="optionsGroupName">
                  {{ option.name }}
                  <!-- <label :for="index"></label> -->
                  <span class="float-right" v-if="option.price > 0">+&nbsp;CA$ {{ option.price }}</span>
                </div>

                <!-- <p class="lead option-header text-center mt-3" v-if="item.options.flavors">Pick a Flavor</p>
                <div v-for="(flavor, index) in item.options.flavors" :key="product.id +'flavor'+ index" class="container">
                  <input type="radio" :value="flavor" v-model="product.options.flavor" :id="index" :name="flavorGroupName">
                  <label :for="index">{{ flavor.name }}</label>
                  <span class="float-right" v-if="flavor.value > 0">+&nbsp;CA$ {{ flavor.value }}</span>
                </div>

                <p class="lead option-header text-center mt-3" v-if="item.options.shapes">Select a Shape</p>
                <div v-for="(shape, index) in item.options.shapes" :key="product.id +'shape'+ index" class="container">
                  <input type="radio" :value="shape" v-model="product.options.shape" :id="index" :name="shapeGroupName">
                  <label :for="index">{{ shape.name }}</label>
                  <span class="float-right" v-if="shape.value > 0">+&nbsp;CA$ {{ shape.value }}</span>
                </div> -->

                <p class="lead option-header text-center" v-if="item.additions">Additions</p>
                <div v-for="(addition, index) in item.additions" :key="product.uuid +'addition'+ index" class="container" >
                  <input type="checkbox" :value="addition" v-model="product.additions" :id="index" :name="product.uuid">
                  <label :for="index">{{ addition.name }}</label>
                  <span class="float-right" v-if="addition.price > 0">+&nbsp;CA$ {{ addition.price }}</span>
                </div> 

                <p class="lead option-header text-center">Special Instructions</p>
                <textarea v-model="product.specialInstructions" class="form-control" placeholder="Add an note to your order (cake inscription etc.)"></textarea>
              </div>

              <div class="action p-2 d-flex justify-content-between">
                <div class="input-group w-auto pr-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" @click="bumpDownQuantity">-</button>
                  </div>
                  <div>
                    <input class="form-control" type="number" min="1" v-model="product.quantity">
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" @click="bumpUpQuantity">+</button>
                  </div>
                </div>
                <span class="my-auto w-auto">CA$ {{ itemPrice }}</span>
                <div class="w-auto">
                  <button class="btn btn-sweet btn-add-to-cart" @click="addToCart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters hover-shadow" style="cursor: pointer">
      <div class="col-5" style="height: 140px;">
        <div class="food-img" :style="imageLink"></div>
      </div>
      <div class="col-7" style="height: 140px;">
        <div class="card-body">
          <h5 class="lead font-weight-bold">{{ product.name }}</h5>
          <div class="item-desc">
            <p class="card-text">{{ product.description }}</p>
          </div>
          <div class="d-flex justify-content-between pl-4 cart-action">
            <!-- <p>
                            <span class="btn btn-dark" @click="addToCart"> + </span>
                            <span>&nbsp;1&nbsp;</span>
                            <span class="btn btn-light">-</span>  
            </p>-->
            <!-- <div class="input-group">
                            <input type="number" min="1" v-model="product.quantity" class="form-control" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-dark" type="button" id="button-addon2" @click="addToCart">Add</button>
                            </div>
            </div>-->
            <p class="text-right">
              <span v-if="product.price > 0">CA$ {{ product.price }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { uuid } from "vue-uuid";
import { mapActions } from "vuex";

// import { mdButton } from 'vue-material';

// Vue.use(mdButton);

export default {
  mounted() {
      this.product.id = this.item.id
      this.product.uuid = uuid.v4()
      this.product.name = this.item.name
      this.product.description = this.item.description
      this.product.photo = this.item.photo
      this.product.price = parseFloat(this.item.price)
      Vue.set(this.product, 'max_quantity', this.item.max_quantity)
      Vue.set(this.product, 'shop_id', this.item.shop_id)
      // console.log(this.item)
  },

  props: ["item"],

  computed: {
    imageLink() {
      return (
        'background-image: url("../images/food/' + this.product.photo + '")'
      );
    },

    modalID() {
      return "#" + this.product.uuid;
    },

    itemPrice() {
      return parseFloat(this.product.subTotal * this.product.quantity);
    },

    optionsGroupName() {
      return this.product.uuid + "option";
    },

    additionsGroupName() {
      return this.product.uuid + "addition";
    },

    additionsCost(){
      return this.product.additions.reduce((acc, item) => acc + parseFloat(item.price), 0);
    },

    optionCost(){
      if(Object.keys(this.product.option).length === 0) {
        return 0;
      } 
      return parseFloat(this.product.option.price);
    },
  },

  updated() {
    let subtotal = this.product.price + this.additionsCost + this.optionCost;
    this.product.subTotal = parseFloat(subtotal).toFixed(2);
  },

  data() {
    return {
      cartItems: [],
      isRequired: false,
      product: {
        id: "",
        uuid: '',
        name: "",
        description: "",
        photo: "",
        price: 0,
        subTotal: 0,
        option: {},
        additions: [],
        quantity: 1,
        specialInstructions: ""
      }
    };
  },

  methods: {
    ...mapActions(["pustToCart"]),
    addToCart() {
      if (this.product.quantity) {
        if (Object.keys(this.product.option).length === 0) {
          return (this.isRequired = true);
        }
        this.isRequired = false;

        this.pustToCart(this.product);

        $(this.modalID).modal("hide");

        Toast.fire({
          type: 'success',
          title: 'Item added to cart!'
        })
      }
    },

    showModal() {
      $(this.modalID).modal("show");
    },

    bumpUpQuantity() {
      this.product.quantity++;
    },

    bumpDownQuantity() {
      if (this.product.quantity > 1) {
        this.product.quantity--;
      }
    }
  }
};
</script>

<style scoped>
.close {
  position: absolute;
  top: 8px;
  right: 13px;
  z-index: 1;
  opacity: 100;
  color: #fff;
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 33px;
}
.food-image {
  height: 40%;

  position: relative;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  height: 60%;
  background-color: #ffff;
}

.content-text {
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.option-header {
  background-color: #292d3125;
}

.danger {
  background-color: #ff6407;
}

.action {
  height: 55px;
  width: 100%;
  border-top: 1px solid #292d3138;
  position: absolute;
  bottom: 0;
}

.modal-content {
  height: 90vh;
  background: none;
}

.row {
  height: 100%;
}

input {
  text-align: center;
  width: 50px;
  padding: 0px 0px 0px 10px;
  border-radius: 0px;
}

textarea {
  width: 100%;
}

.btn-add-to-cart {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .food-image {
    height: 35%;
  }
  .content {
    height: 65%;
  }
}

@media only screen and (max-width: 900px) {
  input {
    width: 31px;
    padding: 0px 0px 0px 2px;
  }
}
</style>

