
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Material+Icons');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

// font-awesome
@import "~font-awesome/scss/font-awesome";
// @import "./fontawesome/scss/fontawesome.scss";
// @import "./fontawesome/scss/solid.scss";
// @import "./fontawesome/scss/brands.scss";

// admin-lte
@import '~admin-lte/dist/css/adminlte.css';

// Sweet alert
@import 'sweetalert2/src/sweetalert2.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// html {
//   height:auto !important;
//   height:100%;
// }

// body {
//   min-height: 100%;
//   margin: 0;
// }


nav {
  ul span {
    #avatar {
      height: 25px;
    }
  } 
}

.section-one   {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/mobilehome.png');  
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: table;
  overflow: hidden;
}

.bakeries-section-one   {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/mobilehome.png');  
  position: relative;
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  // height: 100%;
  width: 100%;
  display: table;
  overflow: hidden;
}

.bakeries {
  height: 80vh;
  background-color: #263238;
}

.cart {
  margin-top: 52px;
  margin-bottom: 40px;
  // border: 2px solid green;
  top: 80px;
  z-index: 0;

  .card-body {
    max-height: 56vh;
    overflow-y: auto;
  }

  .cart-item {
    border-bottom: 1px #263238;

    select {
      padding: 0 0 0 7px;
    }

    button {
      line-height: 7px;
    }

    p {
      font-size: 0.9rem;
      // margin-bottom: 0px;
      color: #FF6407;
    }
  }
}

.cart-badge {
  position: absolute;
}

#cart-icon {
  height: 32px;
  padding-right: 9px;
  color: white;
  display: inline;
} 

.banner-logo {
  height: 100px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 86vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.jumbotron {
  background: transparent;
  color: white;
}

.section-four .vertical-center{
  min-height: 100%;  
}

.bg-light {
  background-color: #ececec !important;
}

.homepage-icon {
  height: 150px;
}

.section-four   {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/driver.png');  
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 100%;
  display: table;
  overflow: hidden;
}

.strip-text {
  font-size: 2.5em;
  font-weight: bolder;
}

.sfx-tabs{
  overflow-x: auto;
  white-space: nowrap;
  // flex-wrap: nowrap;

  a {
    color: #FF6407;
  }
}

.border-secondary {
  border-color: #bbbbbb !important;
}

.category-strip {

  background-color: #eaeaeaed;

  .scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  ul {
    margin-bottom: 0;
    //overflow-x: scroll;
    padding-inline-start: 0px !important;
  }

  li {
    display: inline-block;
    margin: 10px 10px;
  }

  a {
    color: #3e3e3e;

  }
  a:hover {
    color: #FF6407;
    text-decoration: none;
  }
}

.food-card {
  height: 140px;

  .card-body {
    padding: 0.6rem;
  }
  .card-title{
    margin-bottom: 7px;
  }
  .item-desc {
    max-height: 3rem;
    // border: 2px solid green;

    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .cart-action {
    position: absolute;
    bottom: 8px;
    right: 14px;
    width: 100%;
    height: 27px;

    .btn {
      line-height: 0.6;
      height: 28px;
    }

    input {
      height: 28px;
      width: 37px;
      padding: 0px 0px 0px 4px;
    }
    .input-group {
        width: auto;
    }
    p{
      margin-bottom: 10px;
    }
  }
}

.category-container {

  hr {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
}

.section-three {
  background-color: #FF6407;
}

main {
  height: 100vh;
}

.site-title, .site-desc {
  color: #efefef;
  font-family: 'Montserrat'
}

.site-title {
  margin-top: 30%;
  margin-bottom: 6%;
  font-size: 4vw;
}

.address {
  width: 60vw;
}

.cover {
  padding-top: 12%;
  color: #efefef;
}

.btn-sweet {
  background-color: #FF6407;
  color: #fff !important;
  border: #6c757d;
}
.btn-sweet:hover {
  background-color: rgb(209, 80, 0);
  color: rgb(223, 223, 223);
  border: #6c757d;
}

.border-sweet {
  border-color: #FF6407 !important
}

.hover-shadow:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

// .card-img {
//   height: 100%;
// }

.food-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%
}

.checkout-cards {
  .card {
    border: none;
    border-radius: 0px;
    border: 1px solid #d4d4d4;
  }

  .card-header {
    border-bottom: 0px;
    img {
      height: 20px;
    }
  }

  // .card-body {
  //   border-top: 1px dashed #d4d4d4
  // }
}

#devices {
  height: 500px;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.social-icons {
  text-align: center;
  padding-left: 20px;
  } 

.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }

.social-icons li a {
  border-bottom: none;
  }

.social-icons li img {
  width:30px;
  // height:70px;
  margin-right: 20px;
}

.page-footer {
  bottom: 0;
  color: #fff;
  background: #263238;
  // position: absolute;
  // bottom: 0;
}

.page-footer h5 {
  font-size: 0.9rem;
}

.footer-copyright {
  background-color: rgba(0,0,0,.2);
}

footer ul {
  list-style: none;
}

// footer li {
//   padding-inline-start: 40px;
// }

@media only screen and (max-width: 1024px) {
  .cover {
    padding-top: 37%;
    color: #efefef;
  }

  #devices {
    height: 300px;
      width: 77%;
  }

  .section-one, .section-four {
    background-attachment: scroll;
  }

  .social-icons li img {
    width: 27px;
    margin-right: 10px;
  }

  .social-icons {
    padding-left: 0px;
    text-align: center;
  }

  footer .mx-5 {
    margin-left: 0rem !important;
  }

  footer .mx-5 {
    margin-right: 0rem !important;
  }
}

@media only screen and (max-width: 500px)  {
  .footer .text-center {
    text-align: left !important;
  }

  .row .text-left {
    text-align: center !important;
  }

  .footer .text-right {
    text-align: left !important;
  }
}

@media only screen and (min-width: 700px) {
  .bakery-banner-text {
    font-size: 2em;
  }
}