<template>
    <!-- <div class="modal fade" id="FoodDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> -->
    <div class="modal fade" :id="item.id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <div class="row px-3">
                    <div class="food-image col-sm-12 px-0"  :style="imageLink"></div>
                    <div class="content col-sm-12 px-0">

                        <div class="p-4">
                            <h1>{{ item.name }}</h1>
                            <hr>
                            <p class="lead">{{ item.description }}</p>
                        </div>

                        <div class="action p-2 d-flex justify-content-between">
                            <div class="input-group w-auto pr-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button" @click="bumpDownQuantity">-</button>
                                </div>
                                <div>
                                    <input class="form-control" type="number" min="1" v-model="item.quantity">
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" @click="bumpUpQuantity">+</button>
                                </div>
                            </div>
                            <span class="my-auto w-auto">CA$ {{ itemPrice }}</span>
                            <div class="w-auto">
                              <button class="btn btn-secondary btn-add-to-cart px-4" @click="addToCart">Add to Cart</button>
                            </div>
                        </div>

                    </div>  
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {

        created() {
            // eventBus.$on('showDetailsModal', (foodItem) => {
                
                // this.item.id = data.id,
                // this.item.name = data.name,
                // this.item.description = data.description,
                // this.item.photo = data.photo,
                // this.item.price = data.price
                // console.log(this.item)
                // $('#FoodDetailsModal').modal('toggle')
            // })
        },

        mounted(){
                this.item.id = this.data.id,
                this.item.name = this.data.name,
                this.item.description = this.data.description,
                this.item.photo = this.data.photo,
                this.item.price = this.data.price,
                this.showModal = this.show


                // $('#'+this.item.id).modal('show')

        },

        props: ['data', 'show'],

        data() {
            return {
                item: {
                    id: '',
                    name: '',
                    description: '',
                    photo: '',
                    price: '',  
                    quantity: 1,      
                },
                showModal : ''
            }
        },

        updated() {
            if(this.show){
                console.log('fired')
            }
        },

        computed: {
            imageLink() {
                return 'background-image: url("../images/food/'+this.item.photo+'")'
            },

            itemPrice(){
                return this.item.price * this.item.quantity
            },
        },

        methods: {
            bumpUpQuantity() {
                this.item.quantity++
            },

            bumpDownQuantity() {

                if(this.item.quantity > 1){
                    this.item.quantity--
                }
            },
            
            addToCart() {

                // If the quantity of the item is greater than 1... proceed
                if(this.item.quantity > 0)
                {
                    // Notify CartComponent that an item has been added.
                    // Pass along the item object
                    eventBus.$emit('addItemToCart', this.item) 

                    // Dismiss the modal
                    $('#FoodDetailsModal').modal('toggle')

                }
            },
        },
    }
</script>


<style scoped>

    .close {
        position: absolute;
        top: 8px;
        right: 13px;
        z-index: 1;
        opacity: 100;
        color: #fff;
        text-shadow: none;
        background-color: rgba(0, 0, 0, 0.486);
        border-radius: 33px;
    }
    .food-image {
        height: 40%;
         
        position: relative;
        /* background-attachment: fixed; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content {
        height: 60%;
        background-color: #ffff;
    }

    .action {
        height: 55px;  
        width: 100%;
        border-top: 1px solid #292d3138;
        position: absolute;
        bottom: 0;
    }

    .modal-content {
        height: 90vh;
        background: none;
    }

    .row {
        height: 100%;
    }

    input {
        text-align: center;
        width: 50px;
        padding: 0px 0px 0px 10px;
        border-radius: 0px;
    }

    .btn-add-to-cart {
        width: 100%;
    }

    @media only screen and (max-width: 768px) {

        .food-image {
            height: 35%;
        }
        .content {
            height: 65%;
        }


    }

    @media only screen and (max-width: 900px) {
        input {
            width: 31px;
            padding: 0px 0px 0px 2px;
        }
    }
</style>
