<template>
    <div class="p-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Orders</h3>

                <div class="card-tools">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
                </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body p-0 table-responsive">
                <table class="table" style="white-space: nowrap;">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Order Ref</th>
                            <th>Order Date</th>
                            <th>Delivery Details</th>
                            <th>Customer Information</th>
                            <th>Order Status</th>
                            <th style="width: 40px">Action</th>
                        </tr>
                        <tr v-for="(order, index) in orders" :key="index">
                            <td>{{ index + 1 }}</td>
                            <td>{{ order.number }}</td>
                            <td>{{ order.date }}</td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="badge badge-warning">{{ order.status }}</span> <br>
                                <a href="#">Change Status</a>
                            </td>
                            <td>
                                <button class="btn btn-info">Order Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- /.card-body -->
        </div>       
    </div>
</template>

<script>
export default {
    mounted() {
        //this.fetchOrders()
        // this.orders = data;
        this.orders = this.prop_orders;

        this.orders.forEach(order => {
            order.date = moment(order.created_at).format("Do MMM, YY")
        });
    },

    props: ['prop_orders'],
    data() {
        return {
            orders: [], 
        }
    },

    methods: {
        fetchOrders() {
            axios.get('/api/shop/orders')
            .then(res => console.log(res.data))
            .catch(err => console.error(err))
        }
    }
}
</script>