<template>
    <div class="p-3 m-3 bg-white col-md-8 mx-auto border border-secondary rounded">
        <form>
            <div class="form-group">
                <label for="name"><span class="text-red">*</span> Full name</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Full name" v-model="form.name">
            </div>

            <div class="form-group">
                <label for="email"><span class="text-red">*</span> Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" v-model="form.email">
            </div>

            <div class="form-group">
                <label for="email"><span class="text-red">*</span> Phone</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">+1</span>
                    </div>
                    <input id="phone" type="phone" placeholder="Phone" class="form-control" name="phone" v-model="form.phone">
                </div>
            </div>
            <button @click.prevent="updateInfo" class="btn btn-sweet">Save changes</button>
        </form>
    </div>
</template>

<script>
import { Form } from "vform";
export default {
    props:['data'],

    mounted() {
        this.form.name = this.data.name;
        this.form.email = this.data.email;
        this.form.phone = this.data.phone;
    },

    data() {
        return {
            form: new Form({
                name: null,
                email: null,
                phone: null,
            }),
        }
    },

    methods: {
        updateInfo() {
            // this.form.post('/user/account/settings')
            //     .then()
            //     .catch()
            console.log(this.form);
            Toast.fire({
                type: 'warning',
                title: 'Sorry, this feature is under construction'
            })
        },
    }
}
</script>

<style scoped>

</style>
