<template>
    <div>

        <div class="p-3 m-3 bg-white border border-secondary rounded hover-shadow col-md-8 mx-auto" style="cursor: pointer" v-for="(address, index) in addresses" :key="index">
            <div class="p-1" @click="toggleAddressForm(index)">
                <span><i class="fas fa-location-arrow" aria-hidden="true"></i></span> {{ address.name }}
            </div>
            <form v-if="address.visible" class="border-top pt-2">
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" v-model="address.name" placeholder="eg. home, work ...">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 form-group">
                        <label for="addressline1">Address line 1:</label>
                        <input type="text" name="addressline1" class="form-control" v-model="address.line1" placeholder="Street address, P. O. Box, company name ...">
                    </div>
                    <div class="col-md-12">
                        <label for="addressline2">Address line 2:</label>
                        <input type="text" name="addressline2" class="form-control" v-model="address.line2" placeholder="Appartment, suit, unit, building, floor ...">
                    </div>
                </div> 
                <div class="row form-group">
                    <div class="col-md-6 form-group">
                        <label for="name">City:</label>
                        <input type="text" name="city" class="form-control" v-model="address.city" placeholder="City">
                    </div>
                    <div class="col-md-6">
                        <label for="zip">Zip/Postal code:</label>
                        <input type="text" name="Zip" class="form-control" placeholder="Zip/Postal code" v-model="address.zip">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-danger" @click.prevent="deleteAddress(index)">Delete</button>             
                    <button class="btn btn-primary" @click.prevent="updateAddress(index)">Update</button> 
                </div>
            
            </form> 
        </div>

        <div class="p-3 m-3 bg-white border border-secondary rounded hover-shadow col-md-8 mx-auto" style="cursor: pointer">
            <div class="p-1" @click="toggleNewAddressForm">
                <span><i class="fas fa-plus"></i></span> Add New Address
            </div>
            <form @submit.prevent="addAddress" v-if="addFormVisible" class="border-top pt-2">
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" v-model="address.name" placeholder="eg. home, work ...">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 form-group">
                        <label for="addressline1">Address line 1:</label>
                        <input type="text" name="addressline1" class="form-control" v-model="address.line1" placeholder="Street address, P. O. Box, company name ...">
                    </div>
                    <div class="col-md-12">
                        <label for="addressline2">Address line 2:</label>
                        <input type="text" name="addressline2" class="form-control" v-model="address.line2" placeholder="Appartment, suit, unit, building, floor ...">
                    </div>
                </div> 
                <div class="row form-group">
                    <div class="col-md-6 form-group">
                        <label for="name">City:</label>
                        <input type="text" name="city" class="form-control" v-model="address.city" placeholder="City">
                    </div>
                    <div class="col-md-6">
                        <label for="zip">Zip/Postal code:</label>
                        <input type="text" name="Zip" class="form-control" placeholder="Zip/Postal code" v-model="address.zip">
                    </div>
                </div>
                <button class="btn btn-sweet btn-block">Save</button>             
            </form>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform';
export default {

    mounted() {
        this.fetchData()
    },

    props: ['user'],
    data() {
        return {
            addFormVisible: false,
            addresses: [],
            address: new Form({
                name: '',
                line1: '',
                line2: '',
                city: '',
                zip: '',
            })
        }
    }, 

    methods: {
        toggleNewAddressForm() {
            this.addFormVisible = !this.addFormVisible
        },

        toggleAddressForm(index) {
            this.addresses[index].visible = !this.addresses[index].visible
        },

        addAddress(){
            this.address.post(`/api/user/address/${this.user.id}`)
            .then(res => {
                this.address.reset()
                this.addFormVisible = false
                this.fetchData();
            });
        },

        updateAddress(index) {

            let addresstoupdate = this.addresses[index]
            delete addresstoupdate.visible

            Swal.fire({
                text: "Please wait...",
                allowOutsideClick: false,
                onOpen: () => {
                    Swal.showLoading()
                    axios.patch(`/api/user/address/${addresstoupdate.id}`, addresstoupdate).then(res => {
                        Toast.fire({
                            type: 'success',
                            title: 'Update successful!'
                        })
                        this.fetchData();
                    }).catch(reason => {
                        Toast.fire({
                            type: 'error',
                            title: 'There was an error'
                        })
                        console.error(reason)
                    })            
                },
            })
        },

        deleteAddress(index) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.delete(`/api/user/address/${this.addresses[index].id}`)
                    .then(res => {
                        console.log(res.data);
                        Swal.fire('Deleted!', 'Your address has been deleted.', 'success')
                        this.fetchData();
                    })
                }
            })
        },

        fetchData(){
            axios.get(`/api/user/address/${this.user.id}`)
            .then(res => {
                this.addresses = []
                res.data.forEach(address => {
                    address.visible = false
                    this.addresses.unshift(address)
                });
                // console.log(this.addresses);
            })
        }
    },
}

</script>

<style scoped>

</style>
