<template>
    <div class="p-3 m-3 bg-white col-md-12 mx-auto">
        <p class="lead" v-if="!orders.length">You dont have any orders at the moment</p>
        <div class="table-responsive">
            <table class="table hover-shadow" style="white-space: nowrap;" v-for="(order, index) in orders" :key="index">
                <thead class="thead-light" @click="toggleVisibility(index)" style="cursor: pointer">
                    <tr>
                        <th scope="row">Order #{{order.number}}</th>                        
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col" style="text-align: right;">
                            <button class="btn btn-sm btn-sweet" @click="trackOrder(index)">Track order</button>
                        </th>
                    </tr>
                </thead>
                <tbody v-if="order.visible">
                    <tr>
                        <td>Amount Paid: 
                            <br> <strong>${{order.total}} </strong> <br> <br>
                            Order date: <br>{{ order.date }} <br> <br>
                            Order status: <h3><span class="badge badge-danger">{{ order.status }}</span></h3>
                        </td>
                        <td>
                            <b>Delivery:</b>  
                            <br> 
                            30th May
                            <br>
                            2pm to 4pm
                        </td>
                        <td>
                            <b>Shipping:</b> <br>
                            <small style="white-space: normal;">
                               JOHN JONES
                                MARKETING DEPARTMENT
                                10-123 1/2 MAIN STREET NW
                                MONTREAL QC  H3Z 2Y7
                                CANADA 
                            </small> 
                        </td>
                        <td>
                            <b>Billing:</b> <br>
                            <small style="white-space: normal;">
                               JOHN JONES
                                MARKETING DEPARTMENT
                                10-123 1/2 MAIN STREET NW
                                MONTREAL QC  H3Z 2Y7
                                CANADA 
                            </small> 
                        </td>
                        <td>
                            <b>Item(s):</b> <br>
                            <small style="display: block;" v-for="(item, index) in order.items" :key="index">&bull; {{ item.name }} x {{ item.quantity }}</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

import {Form} from 'vform';
export default {
    props: ['prop_orders'],

    mounted() {
        this.orders = this.prop_orders;

        this.orders.forEach(order => {
            order.visible = true 
            order.date = moment(order.created_at).format("Do MMM, YYYY")
        });
    },

    data() {
        return {
            orders: [],
            form: new Form({

            })
        }
    },

    methods: {
        toggleVisibility(index){
            this.orders[index].visible = !this.orders[index].visible
        },

        trackOrder(index) {
            // Toast.fire({
            //     type: 'warning',
            //     title: 'Sorry, this feature is under construction'
            // })
            let order_id = this.orders[index].id
            window.location = `/order/${order_id}/track`
        }
    },
}
</script>

<style scoped>

</style>
